{% extends 'base.html' %}

{% block content %}
<h2>Post New Cargo</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="weight">{{ form.weight.label }}</label>
        {{ form.weight(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="origin">{{ form.origin.label }}</label>
        {{ form.origin(class="form-control") }}
    </div>

    <div class="form-group">
        <label for="route">{{ form.route.label }}</label>
        {{ form.route(class="form-control") }}  <!-- Route instead of destination -->
    </div>

    <div class="form-group">
        <label for="image">{{ form.image.label }}</label>
        {{ form.image(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}
